{% extends "base.html" %}

{% block content %}

  <div class="page-header">
    <h1>
      TrendMiner Showcase <small>Upload your data (.zip or .xml format)...</small>
    </h1>
  </div>

  <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url trendminer.views.analyse %}">
    {% csrf_token %}
    <fieldset class="form-horizontal">

      {% if message %}
	{% if message == "Success!" %}
	  <div class="control-group success">
	{% else %}
	  <div class="control-group error">
	{% endif %}
	    <label class="control-label" for="{{form.data.auto_id}}">
	      {{form.data.label}}
	    </label>
	    <div class="controls">
	      {{form.data}}
	      <span class="help-inline">{{ message }}</span>
	    </div>
	  </div>
      {% else %}
	<div class="control-group">
	  <label class="control-label" for="{{form.data.auto_id}}">
	    {{form.data.label}}
	  </label>
	  <div class="controls">
	    {{form.data}}
	    <span class="help-inline"></span>
	  </div>
	</div>
      {% endif %}

      <div class="form-actions">
	<button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </fieldset>
  </form>

  {% if entities %}
    <fieldset>
      <legend>Your Results</legend>
      <table class="table table-striped table-hover">
	<thead>
	  <th>Name</th>
	  <th>Source Title</th>
	  <th>Ticker String</th>
	  <th>Polarity</th>
	</thead>
	<tbody>
	  {% for entity in entities %}
	    <tr>
	      {% for attribute in entity %}
		{% if attribute %}
		  <td>{{ attribute }}</td>
		{% else %}
		  <td>-</td>
		{% endif %}
	      {% endfor %}
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    </fieldset>

    <fieldset>
      <legend>Raw output</legend>
      <div class="accordion" id="accordion2">
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	      om.xml
	    </a>
	  </div>
	  <div id="collapseOne" class="accordion-body collapse">
	    <div class="accordion-inner">
	      <pre class="pre-scrollable">{{ result|escape }}</pre>
	    </div>
	  </div>
	</div>
	<div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	      pol-string.txt
	    </a>
	  </div>
	  <div id="collapseTwo" class="accordion-body collapse">
	    <div class="accordion-inner">
	      <pre>{{ add_info|escape }}</pre>
	    </div>
	  </div>
	</div>
      </div>
    </fieldset>
  {% endif %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('div.controls input:first').bind('change', function() {
        var fileSize = this.files[0].size;
        if (fileSize > 5242880) {
          $('span.help-inline').text('File is too large. Please select a different file.');
          $('div.control-group').addClass('error');
          $('button.btn').attr('disabled', 'disabled');
        }
        else {
          $('span.help-inline').text('File size is within limits.');
          $('div.control-group').addClass('info');
          $('button.btn').removeAttr('disabled');
        }
      });
    });
  </script>
{% endblock %}
