{% extends "base.html" %}

{% block content %}
{% if message %}
  <div class="alert alert-error">
    <strong>Please note:</strong> {{message|safe}}
  </div>
{% endif %}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>TrendMiner Showcase</h1>
    <p>This is a showcase that demonstrates TrendMiner.</p>

    <p><a href="{% url trendminer.views.analyze %}" class="btn btn-primary btn-large">Access analysis dashboard &raquo;</a></p>
  </div>

  <div class="container">
    <div class="span11">
      <h2>About TrendMiner</h2>
      <p><img src="http://www.dfki.de/~cfedermann/accurat_logo_o_small_jpg.jpg" style="float:right;" /> The aim of the <a href="http://www.trendminer-project.eu/">TRENDMINER</a> project is to ...</p>
    </div>
  </div>

{% endblock %}

{% block footer %}
<a href="http://www.trendminer-project.eu/">TRENDMINER</a> is a Research & Development project co-funded by the European Commission, under contract nr. 287863. <img src="http://www.dfki.de/~cfedermann/eu-logo.png" /> <img src="http://www.dfki.de/~cfedermann/fp7-logo.png" />
{% endblock %}
